<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14054/StringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStringService"
                contract="StringServiceReference.IStringService" name="BasicHttpBinding_IStringService" />
        </client>
    </system.serviceModel>
</configuration>