<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>

    <serviceHostingEnvironment
      aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />

    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="restfulServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service behaviorConfiguration="restfulServiceBehavior" name="BlogSystem.Web.Wcf.Articles">
        <endpoint address="" behaviorConfiguration="restfulEndpointBehavior"
          binding="webHttpBinding" contract="BlogSystem.Web.Wcf.IArticles" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/articles" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
    <add name="BlogSystemDbConnection" connectionString="Data Source=.;Initial Catalog=BlogSystem;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>